<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nombre producto</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD7.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD8.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fondo mt-5 mb-5">
          <img src="assets/img/imgLD9.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="price">$ 2000</p>
            <button class="addCart">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
